@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
  text-align: center;
}
header {
  background: rgb(189 188 189);;
}
header h1 {
  font-weight: 400;
  text-align: center;
}
header h2 {
  text-align: center;
  font-weight: 200;
}
img {
  display: block;
  margin: auto;
}
/* The containers were a bit awkward and making the bullet points and numbers far from the text so i added some padding to bring it closer in from the border. */

ul,ol{
  padding: 10px;
  width:300px;
  margin:auto;
}
.fa {
  padding: 10px;
  font-size: 30px;
  width: auto;
  text-align: center;
  color: black;
}
h3{

 font-size: 12px;
}
